
.card {
    border: 2px solid none;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 100px;
    box-sizing: border-box;
    background-color: rgb(84, 186, 84);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:olivedrab;
}

