.card  {
    /* border: 2px solid purple; */
    /* width: 10%; */
    display: grid;
    margin: 20px;
    background-color: red;
    border-radius: 10px;
   
}
button{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    background-color: skyblue;
}