body{
    background-color: aqua;
}
.card {
    border: 2px solid black;
    width: 40%;
    border-radius: 30px;
    margin: 100px;
    background-color: rgb(84, 186, 84);
}

.flex{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    flex-direction: row;
    flex-wrap: wrap;
}

.image{
    align-content: center;
    width: 40%;
    height: 40%;
}